*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
}
#nav{
    height: 90px;
    padding: 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 90px;
    margin-right: 520px;
}
#nav-prt1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-prt1 h4{
    margin-right: 60px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}
#nav-prt2 i{
    margin-right: 60px;
    font-size: 23px;
    font-weight: 500;
}
#content{
    width:100%;
    height: calc(100% - 90px);
    position: relative;
    display: flex;
}
#left{
    width: 40%;
    height: 100%;
    padding: 50px 120px;
    position: relative;
}
#left button{
    display: inline-block;
    font-size: medium;
    padding: 10px 0px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 900;
}
#left h1{
    font-size: xx-large;
    text-transform: uppercase;
    padding: 10px 0px;
}
#left p{
    font-size: 20px;
    padding: 10px 0px;
}
#left h2{
    font-size: 25px;
    display: inline-block;
}
#right{
    width: 60%;
    height: 100%;
    position: relative;
    padding: 100px;
    white-space: nowrap;
    overflow-x: auto;
}
#right::-webkit-scrollbar{
    display: none;
}
.elem{
    height: 500px;
    width: 360px;
    background-color: black;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);/*x-axis, y-axis, blur*/
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.elem h4{
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: none;
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 6px;

}